@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Inter;
    src: url(./assets/Inter/static/Inter_18pt-Regular.ttf);
}

:root{
    font-family: Inter;    
}
*{
    scroll-behavior: smooth;
    scroll-margin-top: 100px;
    scrollbar-width: thin;
    user-select: none;
}
#about,#project,#experience{
    margin-top: 80px;
}
.drop{
    filter: drop-shadow(0px -5px 15px rgba(0, 209, 243, 0.5));
}
.drop:hover{
    filter: drop-shadow(0px -5px 15px rgba(0, 209, 243, 0.9));
}